<section class="testimonial">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="small-12 cell">
				<p class="quote">{{quote}}</p>
				<p class="attribution">{{person}}
				<span class="company">{{position}}</span></p>
			</div>
		</div>
	</div>
</section>