<section class="testimonial">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="small-12 cell">
				<p class="quote">"{{testimonial.quote}}"</p>
				<p class="attribution">{{testimonial.person}}
				<span class="company">{{testimonial.position}}</span></p>
			</div>
		</div>
	</div>
</section>