{{>nav services=services}}

<section class="page-title">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="small-12 cell">
				<h3>About</h3>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="small-12 medium-3 large-6 cell"><img src="/img/amanda-atkins-digital-rainstorm.jpg" class="headshot"/></div>
			<div class="small-12 medium-9 large-6 cell">	
				<p>Amanda Atkins is North Carolina born and bred and New York City refined. She studied graphic and multimedia design at UNC-Chapel Hill’s prestigious <a href="https://mj.unc.edu/" target="_blank" onclick="ga('send', 'event', 'Visit: UNC JOMC');">School of Journalism and Mass Communication</a>. After graduation she moved to New York City, where she refined her web skills as the sole designer and developer at a boutique literary agency and then as the lead designer and a development contributor at tech start up <a title="Zola Books" href="https://zolabooks.com" target="_blank"  onclick="ga('send', 'event', 'Visit: Zola Books');">Zola Books</a>.</p>
				<p>After spending five lovely years in Visalia, CA, Amanda strives to bring high quality user experiences to the Central Valley with partner <a href="https://cavale.io" target="_blank" onclick="ga('send', 'event', 'Visit: Cavale Creative Company');">Cavale Creative Company</a>. She is currently located in San Francisco, where she works with clients locally and across the United States.</p>
				<p>In her spare time, Amanda hangs out with her <a href="https://www.linkedin.com/in/billyatkins" target="_blank"  onclick="ga('send', 'event', 'Visit: Billy LinkedIn');">husband</a> and <a href="https://www.instagram.com/p/BR4rNdOgIjR/?taken-by=amandalatkins" target="_blank" onclick="ga('send', 'event', 'Visit: JanieCat');">cat</a>, plays guitar and sings, and escapes into the <a href="https://silvercityresort.com" target="_blank" onclick="ga('send', 'event', 'Visit: Sierras');">Sierra Nevada mountains</a> as much as possible.</p>
				<p><a class="port-link button orange outline" href="https://www.linkedin.com/in/amandalatkins" target="_blank" onclick="ga('send', 'event', 'Visit: LinkedIn');">Connect <span class="fa fa-linkedin-square"></span></a></p>
			</div>
		</div>
	</div>
</section>